<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<div class="col-md-12">
			<h1> Best Task Manager </h1>
		</div>
		<div class="col-md-12 row well">
			<div class="col-md-6">
				<button type = 'button' class='btn btn-default'><a href="/tasks">Tasks, Boy-o.</a></button>
			</div>
			<div class="col-md-6">
				<button type="button" class="btn btn-default"><a href="/tasks/new">Add Junk To Do</a></button>
		</div>
	</body>