<form action="/tasks" method="post">
	<h2>Add MORE junk to do(just what you need)</h2>
	<p>Junk:</p>
	<input type="text" name="task[title]" /><br/>
	<p>Description:</p>
	<textarea name="task[description]"></textarea></br/>
	<input type="submit" />
</form>